<!DOCTYPE html>
<html>
        <head>
                <title>Modify User</title>
                <meta cherset"utf-8" />
        </head>
        <body>
		<h3> Modify User </h3>
                <form action="/admin" method="GET">
                        Username: <input name="username" value="" />
                        Password: <input name="password" value="" />
                        Full Name:<input name="full name" value="" />
                        <input type="submit" value="Confirm" />
                </form>
        </body>
</html>
